.input-text {
    width: 120px;
    margin-left: 10px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    /* 通常也会去掉内边距 */
}